.accueil {

    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: url('../assets/flou_pagedaccueil.jpg');
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
}

