.contact:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: url('../assets/contact.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: 0 30%;
    z-index: -1;
    filter: blur(8px);
}