.tarifs:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;    
    box-sizing: border-box;
    background: url('../assets/TarifTest.jpg');
    background-size:  contain;
    z-index: -1;
    filter: blur(7px);
}