.attestation::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: url('../../assets/AttestationdAptitudeDétenteurChienDeCatégorieTest.jpg');
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
}