nav {
  position: relative;
  width: 100%;
  height: 190px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo {
    position: relative;
    right: 20px;
  }


  .rubriques {
    width: 100%;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    li {
      font-size: 24px;
     
      display: flex;
      flex-wrap: wrap;

      a {
        color: $color3;
        font-family: $police2;
        font-weight: 800;
        text-decoration: none;
        text-shadow: $color1 1px 0 10px;
        cursor: pointer;

        &:hover {
          color: $color1;
          text-shadow: $color3 1px 0 10px;
        }
      }
    }
  }


}

.sous-menu {
  position: absolute;
  width: 260px;
  top: 100px;
  padding: 10px;
  z-index: 2;
 

  .items-sous-menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 0.5px solid $color3;
    border-right: 0.5px solid $color3;
    border-left: 0.5px solid $color3;


    a {
      color: $color3;
      font-family: $police2;
      font-weight: 800;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $color1;
        text-shadow: $color3 1px 0 10px;
      }
    }

  }
}

.items:hover>ul {
  display: block;
}


.authentification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: $police2;
  font-size: 1.5rem;
  font-weight: 600;

  .form-authentification {
 position: relative;
 margin-left: 10px;

    .link-connexion {
      
      display: flex;
      align-items: center;
      height: 60px;
      background: #3383b1;
      
      border-radius: 10px;
      color: $color1;
      text-shadow: none;
      list-style-type: none;

      &:hover {
        color: white;
        border-radius: 10px;
        background: $color3;
      }
    }


  }
}

.menu {
  display: none;
}

// .button-menu {
//   display: none;
//   height: 50px;
//   border-radius: 10px;
//   font-family: $police2;
//   font-size: 1.5rem;
//   font-weight: 800;
//   color: $color1;
//   text-shadow: none;

//   padding: 15px 10px;
//   list-style-type: none;
//   border-radius: 10px;
//   border: none;
//   background: #3383b1;
//   margin: 30px;


//   &:hover {
//     color: white;
//     border-radius: 10px;
//     background: $color3;
//   }
// }


@media screen and (max-width: 1330px) {
  nav {
    width: 100%;
    height: 600px;
    .logo {
      margin-left: 10px;
    }

    .rubriques {
     flex-direction: column;
     justify-content: center;
      align-items: center;
      height: 100%;


      li {
        font-size: 1.2rem;
        margin-top: 10px;
        width: 200px;
        height: 50px;
       
       a {
        color: white;
       }
      }

    }
    .link-connexion {
      padding: 10px;
      font-size: 18px;
    }
   
.menu {
  display: block;
  position:  absolute;
  top: 10px;
  right: 10px;

}

  }
}