nav {
  position: relative;
  width: 100%;
  height: 190px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo {
    position: relative;
    right: 20px;
  }


  .rubriques {
    width: 100%;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    li {
      font-size: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      color: $color3;
      font-family: $police2;
      font-weight: 800;
      text-decoration: none;
      text-shadow: $color1 1px 0 10px;
      cursor: pointer;
      &:hover {
        color: $color1;
        text-shadow: $color3 1px 0 10px;
      }
      a {
        color: $color3;
        font-family: $police2;
        font-weight: 800;
        text-decoration: none;
        text-shadow: $color1 1px 0 10px;
        cursor: pointer;

        &:hover {
          color: $color1;
          text-shadow: $color3 1px 0 10px;
        }
      }
    }
  }


}

.sous-menu {
  position: absolute;
  width: 260px;
  top: 100px;
  padding: 10px;
  z-index: 2;
  

  .items-sous-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255,1);
    border-bottom: 0.5px solid $color3;
    border-right: 0.5px solid $color3;
    border-left: 0.5px solid $color3;


    a {
      color: $color3;
      font-family: $police2;
      font-weight: 800;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer;


      &:hover {
        color: $color1;
        text-shadow: $color3 1px 0 10px;
      }
    }

  }
}


.link-connexion {

  display: flex;
  align-items: center;
  height: 60px;
  background: #3383b1;

  border-radius: 10px;
  color: $color1;
  text-shadow: none;
  list-style-type: none;

  &:hover {
    color: white;
    border-radius: 10px;
    background: $color3;
  }
}

.menu {
  display: none;
}




@media screen and (max-width: 1340px) {
  nav {
    width: 100%;
    height: 600px;

    .logo {
      margin-left: 10px;
    }

    .rubriques {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;


      li {
        font-size: 1.2rem;
        margin-top: 10px;
        width: 200px;
        height: 50px;

      }

    }

    .link-connexion {
      height: 40px;
      padding: 10px;
      font-size: 1.5rem;
    }

    .menu {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;

    }
   .menu-authentification {
    display: flex;
    justify-content: center;
 
   }
   .items-sous-menu {
    padding: 0;
  }
}
}