nav {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .logo {
    position: relative;
    right: 20px;
  }


  .rubriques {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    list-style: none;

    li {
      font-size: 1.8rem;

      a {
        color: $color3;
        font-family: $police2;
        font-weight: 800;
        text-decoration: none;
        text-shadow: $color1 1px 0 10px;
        cursor: pointer;

        &:hover {
          color: $color1;
          text-shadow: $color3 1px 0 10px;
        }
      }
    }
  }
}

.sous-menu {
  position: absolute;
  width: 250px;
  z-index: 2;

  .items-sous-menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 0.5px solid $color3;
    border-right: 0.5px solid $color3;
    border-left: 0.5px solid $color3;


    a {
      color: $color3;
      font-family: $police2;
      font-weight: 800;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $color1;
        text-shadow: $color3 1px 0 10px;
      }
    }

  }
}


// .items:hover>ul {
//   display: block;
// }

@media screen and (max-width: 700px) {
 nav {
  .logo {
    margin-left: 10px;
  }
   .rubriques {
    li {
      font-size: 1.2rem;
    }
   }
  
  }
}