@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.accueil:before {
  content: "";
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/flou_pagedaccueil.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(7px);
}

.logo-accueil {
  position: absolute;
  margin: 20px;
  top: 5px;
}

.link-about {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 210px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  border: 3px solid #5CA6D2;
  text-decoration: none;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #5CA6D2;
  cursor: pointer;
}

.link-accueil {
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 150px;
  top: 20px;
}

.formules:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/formuleStageIntensif.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  z-index: -1;
  filter: blur(8px);
}

.tarifs:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/TarifTest.jpg");
  background-size: contain;
  z-index: -1;
  filter: blur(7px);
}

.about:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/AProposDeMoi.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(7px);
}

.contact:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 30%;
  z-index: -1;
  filter: blur(8px);
}

nav {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 9vh;
  flex-wrap: wrap;
}
nav .rubriques {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  width: 500px;
}
nav .rubriques:hover {
  z-index: 2;
  background: rgba(255, 255, 255, 0.6);
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  font-size: 2rem;
}
nav ul li a {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
nav ul li a:hover {
  color: #5CA6D2;
}

.menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 45px;
  color: #5CA6D2;
  z-index: 3;
}

.mini-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid white;
  height: 100px;
  width: 99%;
  background: rgba(255, 255, 255, 0.3);
}

.menu-action {
  margin-top: 50px;
}

#formules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sous-menu {
  display: flex;
  display: none;
  background: #DAE8F3;
}
.sous-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sous-menu ul li {
  font-size: 2rem;
}
.sous-menu ul li a {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.sous-menu ul li a:hover {
  color: #5CA6D2;
}

.items-sous-menu {
  margin-top: 30px;
}

.items:hover > ul {
  display: block;
}

.parametres {
  display: none;
}
.parametres .connexion,
.parametres .senregistrer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: 4px solid #5CA6D2;
  background: rgba(0, 0, 0, 0.3);
  color: #5CA6D2;
  font-size: 20px;
}

.attestation::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/AttestationdAptitudeDétenteurChienDeCatégorieTest.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(8px);
}

.cours-essentiels:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/CoursEssentielsTest.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(8px);
}

.cours-collectifs:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/CoursCollectifs.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.reeducation:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/SeptJoursReeducation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(8px);
}

.stage-intensif:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/formuleStageIntensifTest.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(8px);
}

.container-slider {
  max-width: 850px;
  height: 900px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

@media screen and (max-width: 1300px) {
  .container-slider {
    margin: 100px auto;
    max-width: 600px;
  }
  .container-slider .slide img {
    object-fit: contain;
  }
}
@media screen and (max-width: 750px) {
  .container-slider {
    margin: 90px auto;
    max-width: 600px;
  }
  .container-slider .slide img {
    object-fit: contain;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #DAE8F3;
  margin: 0 5px;
  background: rgba(147, 194, 229, 0.5);
}

.dot.active {
  background: #DAE8F3;
}

.slideTitre {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  width: 100%;
  height: 190px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
