@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.accueil:before {
  content: "";
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/flou_pagedaccueil.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.accueil {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.accueil .description {
  position: relative;
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 20px;
  margin: auto 20px;
}
.accueil .description span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 10px;
  font-size: 18px;
  color: #5CA6D2;
}
.accueil .description p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .accueil .description {
    min-width: 80%;
  }
}

@media screen and (max-width: 1400px) {
  .accueil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.tarifs:before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/TarifTest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  filter: blur(5px);
  top: 0px;
}

.tarifs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarifs .all-tarifs {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 90%;
  height: auto;
  margin: 15px auto 15px auto;
  padding: 55px;
}
.tarifs .all-tarifs h1,
.tarifs .all-tarifs h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.tarifs .tarif {
  margin: 15px auto 15px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 50%;
  padding: 20px;
}
.tarifs .tarif p {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .description-stageIntensif {
    min-width: 90%;
  }
}
.about:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/flou_pagedaccueil.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-propos-de {
  position: relative;
  max-width: 950px;
  width: 950px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 20px;
}
.a-propos-de p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .a-propos-de .a-propos-de {
    width: 500px;
  }
}

.contact:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 30%;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.description-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 50px auto 35px auto;
  padding: 55px;
  text-align: center;
}
.description-contact h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
}
.description-contact p {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

.joindre p {
  font-weight: 700;
  text-decoration: underline;
}
.joindre a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .description-contact {
    min-width: 90%;
  }
}
nav {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .logo {
  position: relative;
  right: 20px;
}
nav .rubriques {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  list-style: none;
}
nav .rubriques li {
  font-size: 1.8rem;
}
nav .rubriques li a {
  color: #5CA6D2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-shadow: white 1px 0 10px;
  cursor: pointer;
}
nav .rubriques li a:hover {
  color: white;
  text-shadow: #5CA6D2 1px 0 10px;
}

.sous-menu {
  position: absolute;
  width: 260px;
  padding: 10px;
  z-index: 2;
  display: none;
}
.sous-menu .items-sous-menu {
  list-style-type: none;
  text-align: center;
  padding: 0;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 0.5px solid #5CA6D2;
  border-right: 0.5px solid #5CA6D2;
  border-left: 0.5px solid #5CA6D2;
}
.sous-menu .items-sous-menu a {
  color: #5CA6D2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.sous-menu .items-sous-menu a:hover {
  color: white;
  text-shadow: #5CA6D2 1px 0 10px;
}

.items:hover > ul {
  display: block;
}

@media screen and (max-width: 700px) {
  nav .logo {
    margin-left: 10px;
  }
  nav .rubriques li {
    font-size: 1.2rem;
  }
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  margin-left: 60px;
  width: 150px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.contact-footer h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #5CA6D2;
  text-align: center;
  text-shadow: white 1px 0 10px;
  margin-bottom: 5px;
}
.contact-footer p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.important-footer {
  display: flex;
  margin-top: 110px;
  font-family: "Poppins", sans-serif;
}
.important-footer p {
  padding-left: 10px;
}

.reseaux-sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.reseaux-sociaux .fb {
  margin-right: 60px;
}
.reseaux-sociaux .email {
  margin-right: 60px;
}

.mentions-legales:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../assets/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 30%;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.mentions-legales {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.mentions-legales span {
  font-weight: 600;
}
.mentions-legales p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}
.mentions-legales .descriptions {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 70px;
}

ol {
  counter-reset: section;
  list-style-type: none;
}
ol li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

.titre-description {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.titre-description p {
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
}

.soustitre-description {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  padding: 40px;
  list-style-type: disc;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
}
ul li::before {
  counter-increment: none;
  content: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.attestation::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/AttestationdAptitudeDétenteurChienDeCatégorie.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.description-attestation {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 50px auto 35px auto;
  padding: 55px;
}
.description-attestation h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.description-attestation p {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

@media screen and (max-width: 700px) {
  .description-attestation {
    min-width: 90%;
  }
}
.cours-essentiels:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/CoursEssentielsTest.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.cours-essentiels {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cours-essentiels .description-coursEssentiels {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 50px auto 35px auto;
  padding: 55px;
}
.cours-essentiels .description-coursEssentiels h1,
.cours-essentiels .description-coursEssentiels h2,
.cours-essentiels .description-coursEssentiels h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.cours-essentiels .description-coursEssentiels p {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}
.cours-essentiels .rappel {
  margin: 50px auto 55px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}
.cours-essentiels .rappel p {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .description-coursEssentiels {
    min-width: 90%;
  }
}
.cours-collectifs:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/CoursCollectifs.jpg");
  background-size: cover;
  z-index: -1;
  filter: blur(3px);
  top: 0px;
}

.description-coursCollectifs {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 50px auto 35px auto;
  padding: 55px;
}
.description-coursCollectifs h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.description-coursCollectifs p {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

@media screen and (max-width: 700px) {
  .description-coursCollectifs {
    min-width: 90%;
  }
}
.reeducation:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/SeptJoursReeducation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.description-reeducation {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 50px auto 35px auto;
  padding: 55px;
}
.description-reeducation h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.description-reeducation p {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

.rappel {
  margin: 50px auto 15px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 400px;
  padding: 15px;
}
.rappel p {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .description-reeducation {
    min-width: 90%;
  }
}
.stage-intensif:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/StageIntensif.JPG");
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  top: 0px;
}

.stage-intensif {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stage-intensif .description-stageIntensif {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  margin: 15px auto auto auto;
  padding: 55px;
}
.stage-intensif .description-stageIntensif h1, .stage-intensif .description-stageIntensif h2, .stage-intensif .description-stageIntensif h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #5CA6D2;
  text-shadow: white 1px 0 10px;
  margin-top: 10px;
  text-align: center;
}
.stage-intensif .description-stageIntensif p {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}
.stage-intensif .rappel {
  margin: 50px auto 15px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 400px;
  padding: 15px;
}
.stage-intensif .rappel p {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .description-stageIntensif {
    min-width: 90%;
  }
}
li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.container-slider {
  max-width: 1500px;
  width: 1500px;
  height: 800px;
  margin: 120px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media screen and (max-width: 750px) {
  .container-slider {
    width: 600px;
    margin: 90px auto;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #DAE8F3;
  margin: 0 5px;
  background: rgba(147, 194, 229, 0.5);
}

.dot.active {
  background: #DAE8F3;
}

.slideTitre {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
  height: 180px;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

a {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
