@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

// POLICES
$police1: 'Poppins', sans-serif;
$police2: 'Josefin Sans', sans-serif;

//COULEURS

$color1: white;
$color2: black;
$color3: #5CA6D2;
$color4: #DAE8F3;
$color5: #93C2E5;

// BOUTONS - CONNEXION ENREGISTREMENT
button {
   
    border-radius: 10px;
    font-family: $police2;
    font-size: 1.5rem;
    font-weight: 800;
    color: $color1;
    text-shadow: none;

    padding: 15px 10px;
    list-style-type: none;
    border-radius: 10px;
    border: none;
    background: #3383b1;
    margin: 20px;


    &:hover {
        color: white;
        border-radius: 10px;
        background: $color3;
    }
}